// @import "variables";
// @import "mixins";

$color: red;

@mixin button($bgColor: lightgrey, $border : 1px solid grey, $padding: 5px, $tAlign: center ){
      background-color: $bgColor;
      border: $border;
      padding: $padding;
      text-align: $tAlign;
}


div{
     color: $color}

button{
      @include button
}
.other-button{
      @include button(lightgreen,green)
}